<%= form_with(model: customer) do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
        <% customer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mt-2">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field mt-2">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field mt-2">
    <%= form.label :birthday %>
    <%= form.date_select :birthday, start_year: 1900, end_year: Time.now.year %>
  </div>

  <div class="field mt-2">
    <%= form.label :country %>
    <%= form.text_field :country %>
  </div>

  <%= form.submit class: 'btn btn-primary mt-3' %>
<% end %>
